body { background-color: #86aeff; 
    background-image: url('myBackground.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
}
h1 { color:azure;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;}
p{color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif }    
#content {
    width:800px;
    margin: 0 auto;
}

